*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#6bb38c,#a3a3ad);
    
}

.app{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1{
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;

}

header p{
    font-size: 20px;
    font-weight: bolder;
}

.pad{
    background: lightblue;
    width: 100%;
    display: flex;
}

.pad > div {
    height: 100px;
    width: 100px;
    flex:1;

}

.pad1{
    background: #60d395;
}

.pad2{
    background: #3b39b4;
}
.pad3{
    background: #a33f60;
}
.pad4{
    background: #031d2e;
}
.pad5{
    background: #0a4985;
}

.visual > div {

    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;
    z-index: -1;
}

@keyframes jump{
    0%{
        bottom: 0%;
        left:20%;

    }
    50%{
        bottom: 50%;
        left: 50%;

    }
    100%{
        bottom: 0%;
        left:80%;

    }
}

.visual > div {

    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    left: 20%;
    bottom: 0%;
    
}

